.leftAlign {
	display: flex;
	justify-content: flex-end;
	text-align: left;
}

.noDataFound {
	margin-top: 2rem;
	text-align: center;
}

.cell {
	overflow-wrap: break-word;
}

.pointer {
	cursor: pointer;
}
